.contact {
    .content-page_hero {
        @include content-hero-img(url('/img/contact-hero.jpg'));
    }
    &_container {
        display: flex;
        flex-direction: column;
        @include mq(medium) {
            flex-direction: row;
        }
        >div {
            padding: 3em 2.25em;
            flex: 1;
            h2 {
                font-size: 32px;
            }
        }
        &--icons {
            >div {
                margin-bottom: 20px;
                display: flex;
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 25px;
                }
            }
        }
    }
    &_map {
        margin: 2em 0 0;
    }
}
