.services {
    .top_panel_image {
        background: url('/img/services/services-hero.jpg') no-repeat center center;
        background-size: cover;
    }
    .sc_promo_image {
        background-image: url('/img/homepage-contact.jpg');
    }
}