.homepage--testimonies {
    background-size: cover;
    background-image: url('/img/cad.png');
    background-position: center center;
    background-repeat: repeat;
    margin-bottom: 3em;
    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        @include mq(medium) {
            flex-direction: row;
        }
    }
    .wrapper_wide {
        padding-top: 5em;
        padding-bottom: 5em;
        >h2 {
            color: #fff;
        }
    }
    &_content {
        flex: 1;
        >p {
            max-width: 625px;
            margin-bottom: 40px;
            text-align: center;
            color: #fff;
            line-height: 1.5;
            @include mq(medium) {
                text-align: left;
            }
        }
        >a {
            display: block;
            max-width: 158px;
        }
    }
    &_testimony {
        margin-top: 3.25em;
        padding: 1.75em;
        max-width: 325px;
        flex: 1;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
        text-align: center;
        @include mq(medium) {
            margin-top: 0;
        }
        >h3 {
            font-size: 22px;
            line-height: 1.35;
            color: #2F3640;
        }
        >p {
            max-width: 325px;
            margin: 20px auto;
        }
        img {
            margin: 0 auto 10px;
        }
    }
}

// Client Logos

.homepage--clients {
    margin-bottom: 3em;
    &_logos {
        >div {
            margin-top: 1.25em;
            margin-bottom: 3.25em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            @include mq(medium) {
                margin-top: 1.25em;
                margin-bottom: 3.25em;
                flex-direction: row;
            }
            &:last-of-type {
                display: none;
                @include mq(medium) {
                    display: flex;
                }
            }
            img {
                margin-bottom: 2.25em;
                width: 150px;
                @include mq(medium) {
                    margin-bottom: 0;
                }
            }
        }
    }
}